@font-face {
  font-family: 'ChaletComprime-CologneSixty';
  src: url("../fonts/ChaletComprime-CologneSixty.eot?#iefix") format("embedded-opentype"), url("../fonts/ChaletComprime-CologneSixty.woff") format("woff"), url("../fonts/ChaletComprime-CologneSixty.ttf") format("truetype"), url("../fonts/ChaletComprime-CologneSixty.svg#ChaletComprime-CologneSixty") format("svg");
  font-weight: normal;
  font-style: normal; }
.font-chalet, .leading-text {
  font-family: 'ChaletComprime-CologneSixty'; }

.grey, .leading-text {
  color: #636466; }

p{
  font-size:20px;
  line-height: 25px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 100px;
  line-height: 48px;
  font-weight: 400;
  text-transform: uppercase; }

.app-container {
  padding-top: 30px; }

.leading-text {
  padding-top: 30px; }

/* Common Modal To display Messages*/
#message-modal .modal-header {
  padding-bottom: 30px; }
#message-modal .modal-body {
  text-align: center; }

/*
	Helpers
*/
.pull {
  float: right; }

.text-center {
  text-align: center; }

.competition-slogan{
  margin-bottom:15px;
}
.competition-form-wrap{
  padding-bottom:10px;
}



